
<c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Reporte 1 </strong> <small></small>
      </c-card-header>
      <c-card-body>
        <div id="tabla-container">

        </div>
          <table [striped]="true" cTable>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre-Cliente</th>
              <th scope="col">Detalle-Recibo</th>
              <th scope="col">Fecha-Entrega</th>
              <th scope="col">Precio-Unitario</th>
              <th scope="col">Monto-Total</th>
              
            </tr>
            </thead>
            <tbody id="body-table">
              @for (item of listaCliente; track item;) {
                <tr>
                  <th scope="row">1</th>
                 
                  <td>{{item.Nombre}}</td>

                  <td>

                    <table [striped]="true" cTable>
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre-Cliente</th>
                        <th scope="col">Detalle-Recibo</th>
                        <th scope="col">Fecha-Entrega</th>
                        <th scope="col">Precio-Unitario</th>
                        <th scope="col">Monto-Total</th>
                        
                      </tr>
                      </thead>
                      <tbody>
                        @for (i of listaRecibo; track i;) {
                          <tr>
                            <th scope="row">1</th>
                           
                            <td>{{i.FechaEntrega}}</td>
                            <!-- <td>{{i.recibo.Detalle}}</td> -->
                            </tr>
                        }
                        </tbody>
                        </table>
                    



                  </td> 
                  <!-- <td>{{item.recibo.Detalle}}</td>
                  <<td>{{item.recibo}}</td>
                  <td>{{item.recibo}}</td>
                  <td>{{item.montototal}}</td> -->
                 
                </tr>

              }
            
           
            </tbody>
          </table>
        
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Reporte 2 </strong> <small></small>
      </c-card-header>
      <c-card-body>
        
          <table [striped]="true" cTable>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Class</th>
              <th scope="col">Heading</th>
              <th scope="col">Heading</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td><button cButton color="warning" variant="outline">Editar</button>
              <button cButton color="danger" variant="outline">Eliminar </button>
              </td>
            </tr>
           
            </tbody>
          </table>
        
      </c-card-body>
    </c-card>
  </c-col>