<c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Registro Clientes</strong> <small>l</small>
      </c-card-header>
      <c-card-body>
     
       
        
          <form cForm class="row g-3">
            <c-col md="12">
              <label cLabel for="inputEmail4">Nomnbre Completo</label>
              <input cFormControl placeholder="Nombre Completo" [(ngModel)]="clienteEstructuraModelo.Nombre" type="text" name="nombre" />
            </c-col>
           <!---- <c-col md="6">
            <label cLabel for="inputPassword4">Password</label>
              <input cFormControl id="inputPassword4" type="password" />
           </c-col>-->
            <c-col xs="12">
              <label cLabel for="inputAddress">Numero de Contacto</label>
              <input cFormControl id="inputAddress" placeholder="712905" [(ngModel)]="clienteEstructuraModelo.Telefono"  name="numeroTelefono"/>
            </c-col>
            <c-col xs="12">
              <label cLabel for="inputAddress2">Numero de Contacto Respaldo</label>
              <input cFormControl id="inputAddress2" placeholder="2228883" [(ngModel)]="clienteEstructuraModelo.contactoRespaldo" name="telefonoRespaldo"/>
            </c-col>
           <!-- <c-col md="6">
              <label cLabel for="inputCity">City</label>
              <input cFormControl id="inputCity" />
            </c-col>
            <c-col md="4">
              <label cLabel for="inputState">State</label>
              <select cSelect id="inputState">
                <option>Choose...</option>
                <option>...</option>
              </select>
            </c-col>
            <c-col md="2">
              <label cLabel for="inputZip">Zip</label>
              <input cFormControl id="inputZip" />
            </c-col>
            <c-col xs="12">
              <c-form-check>
                <input cFormCheckInput id="gridCheck" name="gridCheck" type="checkbox" />
                <label cFormCheckLabel for="gridCheck">Check me out</label>
              </c-form-check>
            </c-col>-->
            <c-col xs="12">
              <label cLabel for="usuarios">Selecciona-Usuario</label>
              <select [(ngModel)]="clienteEstructuraModelo.usuario" name="usuarios" aria-label="Default select example" cSelect>
               
                <option value="664ab53913749ec3995ea59d">David</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </c-col>
            <c-col xs="12">
              <button (click)="guardarEditar()" cButton type="submit">Guardar</button>
            </c-col>
          </form>


          <c-col xs="12">
            <c-card class="mb-4">
              <c-card-header>
                <strong>Clientes</strong> <small></small>
              </c-card-header>
              <c-card-body>
                
                  <table [striped]="true" cTable>
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Telefono</th>
                      <th scope="col">Telefono-Respaldo</th>
                    </tr>
                    </thead>
                    <tbody>
                      @for (DatoCliente of listaClientes; track DatoCliente;) {
                        <tr>
                          <th scope="row">1</th>
                          <td>{{DatoCliente.Nombre}}</td>
                          <td>{{DatoCliente.Telefono}}</td>
                          <td>{{DatoCliente.contactoRespaldo}}</td>
                          <td><button (click)="BuscarDatosEditar(DatoCliente)" cButton color="warning" variant="outline">Editar</button>
                          <button (click)="eliminarCliente(DatoCliente)" cButton color="danger" variant="outline">Eliminar </button>
                          </td>
                        </tr>

                      }
                    
                   
                    </tbody>
                  </table>
                
              </c-card-body>
            </c-card>
          </c-col>
         
      </c-card-body>
    </c-card>
  </c-col>
